<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (partner()) {
      <div>
        <h2 data-cy="partnerDetailsHeading"><span jhiTranslate="appliApp.partner.detail.title">Partner</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ partner()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="appliApp.partner.codep">Codep</span></dt>
          <dd>
            <span>{{ partner()!.codep }}</span>
          </dd>
          <dt><span jhiTranslate="appliApp.partner.type">Type</span></dt>
          <dd>
            <span>{{ partner()!.type }}</span>
          </dd>
          <dt><span jhiTranslate="appliApp.partner.name">Name</span></dt>
          <dd>
            <span>{{ partner()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="appliApp.partner.contact">Contact</span></dt>
          <dd>
            <span>{{ partner()!.contact }}</span>
          </dd>
          <dt><span jhiTranslate="appliApp.partner.logo">Logo</span></dt>
          <dd>
            @if (partner()!.logo) {
              <div>
                <a (click)="openFile(partner()!.logo ?? '', partner()!.logoContentType)">
                  <img [src]="'data:' + partner()!.logoContentType + ';base64,' + partner()!.logo" style="max-width: 100%" alt="partner" />
                </a>
                {{ partner()!.logoContentType }}, {{ byteSize(partner()!.logo ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="appliApp.partner.icon">Icon</span></dt>
          <dd>
            @if (partner()!.icon) {
              <div>
                <a (click)="openFile(partner()!.icon ?? '', partner()!.iconContentType)">
                  <img [src]="'data:' + partner()!.iconContentType + ';base64,' + partner()!.icon" style="max-width: 100%" alt="partner" />
                </a>
                {{ partner()!.iconContentType }}, {{ byteSize(partner()!.icon ?? '') }}
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/partner', partner()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
